#bg-color-container {
  padding: 10px;
}

#change-size-div {
  background-color: red;
  height: 100px;
  width: 100%;
}

.center {
  margin: 0 auto;
  width: 95%;
}

.color-node {
  color: white;
  font-size: 15px;
  height: 30px;
}

#swipe-outer {
  position: relative;
  height: 300px;
  background-color: DarkSlateGray;
}

#swipe-inner {
  position: absolute;
  height: 300px;
  width: 50px;
  background-color: MintCream;
}