#change-size-div {
  height: 100px;
  width: 100%;
  background-color: red;
}

.color-node {
  height: 30px;
  color: white;
}

#swipe-outer {
  position: relative;
  height: 300px;
  background-color: DarkSlateGray;
}

#swipe-inner {
  position: absolute;
  height: 300px;
  width: 50px;
  background-color: MintCream;
}